<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<form action=" {url 'user_login'}">
        {% csrf_token %}
    <br>
        {{name}}
        <br>
        {{Welcome}}<br>
        <br>
        {{wrong}}
        <br>
        <br>

     <label class="required" for="id_username">Username:&nbsp;</label>
        <input type="text" name="username" autofocus="" required="" id="id_username">
        <br>
        <br>
        <label class="required" for="id_password">Password:&nbsp;&nbsp;</label>
        <input type="password" name="password" required="" id="id_password">
        <br>
        <br>
          <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="Log in">
          </div>

    </form>
</body>
</html>